/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Banner */
.banner {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
}

.banner h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

/* Section Styling */
.content-section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

.reflection-section {
  padding: 40px 20px;
  max-width: 700px;
  margin: auto;
}

.reflection-section h3 {
  text-indent: 2em;
  margin-bottom: 30px;
  text-align: left;
}


.content-section img {
  display: block;
  margin: 20px auto;
  width: 75%;
  max-width: 650px;
  height: auto;
  border-radius: 8px;
}

.content-section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
  text-align: center;
}

/*
.flex-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  align-items: center;
  text-align: center;
}


.flex-container img {
  width: 80%;
  max-width: 200px;
  height: auto;
  border-radius: 8px;
}
*/

.text-content {
  flex: 1;
  min-width: 200px;
}